
<div class="col-lg-3" ng-controller="mainCtrl">
    <div class="list-group" ng-repeat="note in notes">
        <a href="#note/{{note.id}}"   class="list-group-item" style="max-height: 90px; overflow: hidden">
            {{note.title}}
            <button  ng-click="deleteNote(note)" class="btn btn-default btn-xs" style="float: right;">Delete</button>
            <p style="text-align: justify;"  ><small>{{note.body}}</small></p>
        </a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-9" style="position: relative">
            <form ng-submit="addNote()">

                <div class="row">.</div>
                <div class="row">
                    <input type="text" class="form-control" ng-model="title" placeholder="title">
                    <div class="row">.</div>
                    <!--<textarea rows="2" type="text" class="form-control" ng-model="body"  placeholder="enter your note here" ></textarea>-->
                    <!--<div class="row">.</div>-->
                    <div style="min-height: 348px;">
                        <textarea class="form-control" rows="2" cols="25"  ng-model="body" placeholder="Write your note here..." style="overflow: hidden; height: 500px   ; padding-top: 0px; padding-bottom: 0px; min-height: 348px;"></textarea>
                    </div>
                </div>
                <button  type="submit" onsubmit="parent.scrollTo(0,0)" class="btn btn-success">Save Note</button>
            </form>
        </div>
    </div>
</div>