




<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
               <div class="page-header" >
                <h1 style="color: black; text-align: left">Login</h1>
            </div>
            <form ng-submit="login()">
                <div class="input-group">
                    <input type="email" class="form-control" placeholder="Email" ng-model="user.email">
                </div>
                <div class="input-group">
                    <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
                </div>
                <input type="submit" class="btn btn-default" value="Log In">
            </form>

            </div>
            <div class="col-lg-8" >
                <img class="img-responsive img-full" src="app_screenshot.jpg">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>