<!--I was making a mistake here. I was passing ng-controller=notesCtrl and I was getting an error-->
<div  class="resizable-row" resizable r-directions="['bottom']" r-flex="true"   >
    <section  id="left">
        <div class="row">
            <form class=" " role="search">
                <div class="form-group">
                    <input id="search-field" type="text" class="form-control"  ng-model="searchNote" placeholder="Find Note">
                </div>
            </form>
        </div>
        <div id="notes-list" class="list-group animated fadeIn " ng-repeat="note in notes | reverse |filter: searchNote  track by $index" >
            <a href="#note/{{note.id}}"  id="note-preview" class="list-group-item"  style="max-height: 90px; overflow: hidden">
                {{note.title}}
                <p style="text-align: justify;"><small><span style="color: dodgerblue; font-weight: 200">{{noteCreationDate}}</span> -{{note.body}}</small></p>
            </a>
        </div>
    </section>
    <section class=" animated fadeIn" id="right"  resizable r-directions="['left']" r-flex="true" >
        <div class="animated fadeIn"  style="" id="flash-message" flash-message="3000"></div>
        <div id="delete-button" >
            <a  ng-really-message="Are you sure you want to delete this note?" ng-really-click="deleteNote(note)" class="glyphicon glyphicon-trash" style="float:left;"></a>
        </div>
        <div>
            <form >
                <div >
                    <input id="note-title" type="text"   ng-model="title" placeholder="Untitled">
                    <textarea id="note-body" class="form-control" rows="2" cols="25"
                              ng-model="body" placeholder="Write your note here..." ></textarea>
                </div>
            </form>
        </div>
        <div class="row" id="timestamp">Created on {{noteCreationDate}} at {{noteCreationTime}}</div>
    </section>
</div>






