

<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="page-header" >
                    <h1 style="color: black; text-align: left">Register</h1>
                </div>
                <form name="register_form" novalidate ng-submit="register()">
                    <div class="input-group">
                        <input type="email"
                               name="email"
                               class="form-control"
                               placeholder="Email"
                               ng-model="user.email"
                               ng-maxlength=20
                               required/>
                        <div class="error"
                             ng-show="register_form.email.$dirty && register_form.email.$invalid">
                            <small class="error"
                                   ng-show="register_form.email.$error.required" style="color: black">
                                Your email is required.
                            </small>
                            <small class="error"
                                   ng-show="register_form.email.$error.email" style="color: black">
                                That is not a valid email. Please input a valid email.
                            </small>
                            <small class="error"
                                   ng-show="register_form.email.$error.maxlength" style="color: black">
                                Your name cannot be longer than 20 characters
                            </small>
                        </div>
                    </div>
                    <div class="input-group">
                        <input type="text"
                               name="username"
                               class="form-control"
                               placeholder="Username"
                               ng-model="user.username"
                               ng-minlength=3
                               ng-maxlength=20
                               ensure-unique="username"
                               required
                               />
                        <div class="error"
                             ng-show="register_form.username.$dirty && register_form.username.$invalid">
                            <small class="error"
                                   ng-show="register_form.username.$error.required" style="color: black">
                                Your username is required.
                            </small>
                            <small class="error"
                                   ng-show="register_form.username.$error.minlength" style="color: black">
                                Your username is required to be at least 3 characters
                            </small>
                            <small class="error"
                                   ng-show="register_form.username.$error.maxlength" style="color: black">
                                Your name cannot be longer than 20 characters
                            </small>
                            <small class="error"
                                   ng-show="register_form.username.$error.unique" style="color: black">
                                This username is taken. Please choose another one.
                            </small>
                        </div>
                    </div>
                    <div class="input-group">
                        <input type="password"
                               name="password"
                               class="form-control"
                               placeholder="Password"
                               ng-model="user.password"
                               ng-minlength="8"
                               ng-maxlength="20"
                               required>
                        <div class="error"
                             ng-show="register_form.password.$dirty && register_form.password.$invalid">
                            <small class="error"
                                   ng-show="register_form.password.$error.required" style="color: black">
                                Your password is required.
                            </small>
                            <small class="error"
                                   ng-show="register_form.password.$error.minlength" style="color: black">
                                Your password is required to be at least 8 characters
                            </small>
                            <small class="error"
                                   ng-show="register_form.password.$error.maxlength" style="color: black">
                                Your password cannot be longer than 20 characters
                            </small>

                        </div>
                    </div>
                    <input type="submit" class="btn btn-default" value="Register">
                </form>

            </div>
            <div class="col-lg-8" >
                <img class="img-responsive img-full" src="app_screenshot.jpg">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>


