

<div class="intro-header fadein">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message" style="color: black">
                    <h1>The Notes App</h1>
                    <h3>Access your notes anywhere, anytime!</h3>
                    <hr>
                    <ul class="list-inline intro-social-buttons">
                        <!--Slide down Login form -->
                        <div  class=" fadein" ng-controller="authCtrl">
                            <div class="container" >
                                <div class="row" id="login">
                                    <div >
                                        <form name="login_form" novalidate ng-submit="login()">
                                            <div class="input-group">
                                                <input type="email"
                                                       name="email"
                                                       class="form-control"
                                                       placeholder="Email"
                                                       ng-model="user.email"
                                                       required/>
                                                <div class="error fadein"
                                                     ng-show="login_form.email.$dirty && login_form.email.$invalid">
                                                    <small class="error fadein"
                                                           ng-show="login_form.email.$error.required" style="color: black">
                                                        Your email is required.
                                                    </small>
                                                    <small class="error fadein"
                                                           ng-show="login_form.email.$error.email" style="color: black">
                                                        Please input a valid email.
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="input-group">
                                                <input type="password"
                                                       name="password"
                                                       class="form-control"
                                                       placeholder="Password"
                                                       ng-model="user.password"
                                                       ng-minlength="8"
                                                       ng-maxlength="20"
                                                       required>
                                                <div class="error fadein"
                                                     ng-show="login_form.password.$dirty && login_form.password.$invalid">
                                                    <small class="error fadein"
                                                           ng-show="login_form.password.$error.required" style="color: black">
                                                        Your password is required.
                                                    </small>
                                                    <small class="error fadein"
                                                           ng-show="login_form.password.$error.minlength" style="color: black">
                                                        Must be at least 8 characters
                                                    </small>
                                                    <small class="error fadein"
                                                           ng-show="login_form.password.$error.maxlength" style="color: black">
                                                        Maximum 20 characters
                                                    </small>

                                                </div>                    </div>
                                            <input type="submit" class="btn btn-default" id="login_button" value="Log In">
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!--Slide down Register form-->
                        <div id="register" class="fadein" ng-controller="authCtrl">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <form name="register_form" novalidate ng-submit="register()">
                                            <div class="input-group">
                                                <input type="email"
                                                       name="email"
                                                       class="form-control"
                                                       placeholder="Email"
                                                       ng-model="user.email"
                                                       ng-maxlength=40
                                                       required/>
                                                <div class="error fadein"
                                                     ng-show="register_form.email.$dirty && register_form.email.$invalid">
                                                    <small class="error fadein"
                                                           ng-show="register_form.email.$error.required" style="color: black">
                                                        Your email is required.
                                                    </small>
                                                    <small class="error fadein"
                                                           ng-show="register_form.email.$error.email" style="color: black">
                                                        Please input a valid email.
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="input-group">
                                                <input type="text"
                                                       name="username"
                                                       class="form-control"
                                                       placeholder="Username"
                                                       ng-model="user.username"
                                                       ng-minlength=3
                                                       ng-maxlength=20
                                                       ensure-unique="username"
                                                       required
                                                        />
                                                <div class="error fadein"
                                                     ng-show="register_form.username.$dirty && register_form.username.$invalid">
                                                    <small class="error fadein"
                                                           ng-show="register_form.username.$error.required" style="color: black">
                                                        Your username is required.
                                                    </small>
                                                    <small class="error fadein"
                                                           ng-show="register_form.username.$error.minlength" style="color: black">
                                                        Must be at least 3 characters
                                                    </small>
                                                    <small class="error"
                                                           ng-show="register_form.username.$error.maxlength" style="color: black">
                                                        Maximum 20 characters
                                                    </small>
                                                    <small class="error fadein"
                                                           ng-show="register_form.username.$error.unique" style="color: black">
                                                        This username is taken.</br>
                                                        Please choose another one.
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="input-group">
                                                <input type="password"
                                                       name="password"
                                                       class="form-control"
                                                       placeholder="Password"
                                                       ng-model="user.password"
                                                       ng-minlength="8"
                                                       ng-maxlength="20"
                                                       required>
                                                <div class="error fadein"
                                                     ng-show="register_form.password.$dirty && register_form.password.$invalid">
                                                    <small class="error fadein"
                                                           ng-show="register_form.password.$error.required" style="color: black">
                                                        Your password is required.
                                                    </small>
                                                    <small class="error fadein"
                                                           ng-show="register_form.password.$error.minlength" style="color: black">
                                                        Must be at least 8 characters
                                                    </small>
                                                    <small class="error fadein"
                                                           ng-show="register_form.password.$error.maxlength" style="color: black;">
                                                        Maximum 20 characters
                                                    </small>

                                                </div>
                                            </div>
                                            <input type="submit" class="btn btn-default" id="register_button" value="Register">
                                        </form>

                                    </div>

                                </div>
                            </div>
                            <!-- /.container -->
                        </div>
                        <!--Login Button-->
                        <li class="btn btn-default btn-lg" id="login-button"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Login</span></li>
                        <!--Register Button-->
                        <li class="btn btn-default btn-lg" id="register-button"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Register</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>

