
#login {
    float: left;
    /*display: none;*/
    padding-bottom: 10px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;



}

#app_preview {
    /*float: right;*/
}

#login_button {
    float: left;
}