.pointer {
    cursor: pointer;
}

.navbar-default.navbar-fixed-top {
    background-color: rgba(207, 206, 190, 1);
    position: fixed;
    top: 0px;
    width: 100%;
}

#new-note {
    cursor: pointer;
}