#login_button, #register_button {
    float: left;
}

#app_preview {
    float: right;
}

.login-form, .register-form {
    padding:10px;
    transition-duration: 800ms;
    margin-left: 41.5%;
}

.login-form.ng-hide, .register-form.ng-hide {
    transform: translate(0%,2500%);
}

.network-name {
    font-weight: 800;
}

.btn.btn-default.btn-lg {
    margin-left: 5px;
    margin-bottom: 6px;
}

hr {
    border-top: 1px solid black;

}
