<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>The Notes App</title>
  <style>
      body {
          background-image: url("background.jpg")
      }
  </style>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <!--jquerytag must be on top as it's required for bootstrap.min.js-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <!--javascript plugins -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <style>
      .col-lg-3{
          position: static;
      }
      .col-lg-9 {
          position: static;
          height: 600px;
      }
  </style>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body ng-app="theNotesApp">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/home">The Notes App</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" >+ New Note</a></li>
        <li class="active"><a href="#">Register <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Login</a></li>
        <li><a>Username</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="col-lg-3" ng-controller="mainCtrl">
  <!--<div>-->
      <!--<ul class="nav navbar-nav">-->
        <!--<form class="navbar-form navbar-left" role="search">-->
          <!--<div class="form-group">-->
            <!--<input type="text" class="form-control" placeholder="Search">-->
          <!--</div>-->
          <!--<button type="submit" class="btn btn-default">Submit</button>-->
        <!--</form>-->
      <!--</ul>-->
  <!--</div>  -->
  <div class="list-group" ng-repeat="note in notes">
    <a href="#notes/{{note.id}}"   class="list-group-item" style="max-height: 90px; overflow: hidden">
          {{note.title}}
          <button  ng-click="deleteNote(note)" class="btn btn-default btn-xs" style="float: right;">Delete</button>
          <p style="text-align: justify;"  ><small>{{note.body}}</small></p>
    </a>
  </div>
</div>

<ui-view></ui-view>
<script type="text/ng-template" id="/home.html">
  <div class="container">
    <div class="row">
      <div class="col-lg-9" style="position: relative">
        <form ng-submit="addNote()">

          <div class="row">.</div>
          <div class="row">
            <input type="text" class="form-control" ng-model="title" placeholder="title">
            <div class="row">.</div>
            <!--<textarea rows="2" type="text" class="form-control" ng-model="body"  placeholder="enter your note here" ></textarea>-->
            <!--<div class="row">.</div>-->
            <div style="min-height: 348px;">
              <textarea class="form-control" rows="2" cols="25"  ng-model="body" placeholder="Write your note here..." style="overflow: hidden; height: 500px   ; padding-top: 0px; padding-bottom: 0px; min-height: 348px;"></textarea>
            </div>
          </div>
          <button  type="submit" onsubmit="parent.scrollTo(0,0)" class="btn btn-success">Save Note</button>
        </form>
      </div>
    </div>
  </div>

</script>

<script type="text/ng-template" controller="notesCtrl" id="/notes.html">
  <div class="container">
      <!--<button class="btn btn-primary">+ New Note</button>-->
      <!--</div>-->
          <div class="col-lg-9 " >
            <form ng-submit="updateNote()" >
              <div class="row">.</div>
              <div class="row">
                <input type="text"   class="form-control" ng-model="title" >
                <div class="row">.</div>
                <div  style="min-height: 348px;">
                  <textarea class="form-control" rows="2" cols="25"  ng-model="body" placeholder="Write your note here..." style="overflow: hidden; height: 500px; padding-top: 0px; padding-bottom: 0px; min-height: 348px;"></textarea>
                </div>            <div class="row">.</div>
              </div>
              <button  type="submit"  onsubmit="parent.scrollTo(0,0)" class="btn btn-success">Save Note</button>
            </form>
          </div>

  </div>
</script>
</body>
</html>
